* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #000;
  }
  
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  #navbar ul {
    list-style: none;
    display: flex;
  }
  
  #navbar li {
    margin-right: 20px;
  }
  
  #navbar a {
    color: #fff;
    text-decoration: none;
  }
  
  #toggle-nav {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #000;
  }
  
  p {
    color: #333;
  }
  
  footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  #toggle-theme {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px;
  }
  
  .dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode #navbar a {
    color: #f2f2f2;
  }
  
  .dark-mode main h1 {
    color: #fff;
  }
  
  .dark-mode main p {
    color: #f2f2f2;
  }
  
  .dark-mode footer {
    background-color: #333;
    color: #f2f2f2;
  }
  
  .dark-mode #toggle-nav {
    background-color: #333;
    color: #f2f2f2;
  }
  
  .dark-mode #toggle-theme {
    background-color: #333;
    color: #f2f2f2;
  }
  